<h1>Listing revisions</h1>

<table>
  <tr>
    <th>Markup</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @revisions.each do |revision| %>
  <tr>
    <td><%= revision.markup %></td>
    <td><%= revision.comment %></td>
    <td><%= link_to 'Show', revision %></td>
    <td><%= link_to 'Edit', edit_revision_path(revision) %></td>
    <td><%= link_to 'Destroy', revision, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Revision', new_revision_path %>
