<div class="revision-<%= section.current_revision_id %>-wrapper">

	<h1>
	  <%= section.title %> 
	  <span class="edit_link" title="<%= section.current_revision_id %>">
	    <%= link_to 'Edit', edit_section_path(section) %>
	  </span>
	</h1>

	<div class="revision-<%= section.current_revision_id %>">
	  <%= raw section.formatted %>
	</div>

	<p class="last_edited">Last edited: <%= section.last_edited %></p>

</div>