<div class="revision-<%= section.current_revision_id %>-wrapper">

	<h1>
	  <%= section.title %> 
	  <span class="edit_link" title="<%= section.current_revision_id %>">
	    <%= link_to 'Edit', edit_section_path(section) %>
	  </span>
	  <span class="show_link">
	    <%= link_to 'Show', section %>
	  </span>
	  <span class="load_activities" title="<%= section.id %>">
	    <%= link_to 'Activities', section %>
	  </span>
	  <span class="add_section_link" title="<%= section.id %>">
	    <%= link_to 'Add Subsection', new_section_path %>
	  </span>
	</h1>

	<div class="revision-<%= section.current_revision_id %>">
	  <%= markdown section.get_markup %>
	</div>

	<p class="last_edited">Last edited: <%= section.last_edited %></p>

</div>