%h1 Listing bills
%table
  %tr
    %th Name
    %th Markdown
    %th
    %th
    %th
  - @bills.each do |bill|
    %tr
      %td= bill.name
      %td= bill.markdown
      %td= link_to 'Show', bill
      %td= link_to 'Edit', edit_bill_path(bill)
      %td= link_to 'Destroy', bill, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Bill', new_bill_path
