<!DOCTYPE html>
<html>
<head>
  <title>Legislator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- ISSUE: This is a sloppy implentation, will change in the future -->
  <div class="flash">
    <p class="notice"><%= flash[:notice] %></p>
    <p class="alert"><%= flash[:alert] %></p>
  </div>

<%= yield %>

</body>
</html>
